{% extends 'site_base.html.twig' %}

{% block title %}{{ page.seoTitle }}{% endblock %}
{% block description %}{{ page.seoDescription }}{% endblock %}
{% block body %}
    <section class="page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="web_content">
                        {{ page.pageContent|markdown }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

