{# start header #}
<header id="header" class="header dark">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 xs-mb-10">
                    <div class="topbar-call text-center text-md-left">
                        <ul>
                            <li><i class="fa fa-envelope-o theme-color"></i> info@cbdmanufacturer.co.uk</li>
                            <li><i class="fa fa-phone"></i> <a href="tel:01246767720"> <span>01246 767720 </span> </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="topbar-social text-center text-md-right">
                        <ul>
                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                            <li><a href="#"><span class="ti-instagram"></span></a></li>
                            <li><a href="#"><span class="ti-google"></span></a></li>
                            <li><a href="#"><span class="ti-twitter"></span></a></li>
                            <li><a href="#"><span class="ti-linkedin"></span></a></li>
                            <li><a href="#"><span class="ti-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            {# start menu logo #}
                            <ul class="menu-logo">
                                <li>
                                    <a href="{{ path('app_homepage') }}"><img id="logo_img" src="{{ asset('build/images/lw_logo.944cdfa7.png') }}" alt="logo"> </a>
                                </li>
                            </ul>
                            {# end menu logo #}
                            {# start menu links #}
                            <div class="menu-bar">
                                <ul class="menu-links">
                                    <li><a href="{{ path('app_homepage') }}">Home</a></li>
                                    <li><a href="/wholesale-cbd">Wholesale CBD</a></li>
                                    <li><a href="/private-white-label-services">Private White-Label Services</a></li>
                                    <li><a href="/about-us">About</a></li>
                                    <li><a href="/cbd-faq">CBD FAQ</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                            {# end menu links #}
                        </div>
                    </div>
                </div>
            </section>
        </nav>
    </div>
</header>
{# end header #}